<form class="example-form">
    <mat-form-field class="example-full-width">
      <input type="text" name="name" [(ngModel)]="nuevoUsuario.name" id="name" matInput placeholder="Nombre">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input type="text" name="lastName" [(ngModel)]="nuevoUsuario.lastName" id="lastName" matInput placeholder="Apellido" >
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input type="text" name="address" [(ngModel)]="nuevoUsuario.address" id="address" matInput placeholder="Direccion" >
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input type="number" name="tel" [(ngModel)]="nuevoUsuario.tel" id="tel" matInput placeholder="Telefono">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input type="number" name="cel" [(ngModel)]="nuevoUsuario.cel" id="cel" matInput placeholder="Celular">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input type="password" name="passwordOrigin" [(ngModel)]="nuevoUsuario.passwordOrigin" id="passwordOrigin" matInput placeholder="Contraseña">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input type="password" name="passwordCopy" [(ngModel)]="nuevoUsuario.passwordCopy" id="passwordCopy" matInput placeholder="Repetir Contraseña">
    </mat-form-field>
    <p>
            <button type="button"

                         (click)="guardarUsuario(nuevoUsuario)">Registrar</button></p>
</form>

