<div>
  <h2 fxFlex fxLayoutAlign= "center" mat-dialog-title> Agregar una Publicación</h2>
  <div>
    <form #publicacionForm="ngForm" fxFlex fxLayout="column" (keydown)="keyDownFunction($event)">

      <div>
        <mat-input-container>
          <input matInput placeholder="Titulo de la publicacion" required [(ngModel)]="model.publicacion.titulo" name="titulo">
        </mat-input-container>
      </div>

      <div>
        <mat-input-container>
          <input matInput placeholder="" required [(ngModel)]="model.publicacion.titulo" name="titulo">
        </mat-input-container>
      </div>

    </form>
  </div>

</div>
