
<div fxLayoutWrap="row" fxLayoutAlign="center center">
<mat-toolbar fxFlex="50" class="toolbar">
  <app-search  (queryStringUpdated)="handleQueryStringUpdate($event)"></app-search>
</mat-toolbar>
</div>
<div fxLayout.xs="column" fxLayout.lg="row" fxLayoutWrap="row" fxLayoutAlign="start center"  fxLayoutGap=10%  fxLayoutWrap>  
 <div fxFlex="30" *ngFor="let publicacion of publicaciones | PublicacionFilter: querySearch"> 
   <app-publicacion [publicacion]= "publicacion" ></app-publicacion> 
 </div>
</div>

      