<div fxLayoutAlign="start center"  fxLayoutGap=10% *ngFor="let producto of productos">   <!-- iteracion por publicacion y no por productos -->
 <div fxFlex="30" fxLayoutWrap="row"> 
    <!-- <app-producto></app-producto>   aca va el tag de publicacion-->
 </div>
</div>

<!-- <mat-list dense>
  <mat-list-item  *ngFor="let producto of productos"><app-producto></app-producto> </mat-list-item>
</mat-list>
  -->
  
  <!-- <div>
  <mat-nav-list >
    <mat-list-item *ngFor="let producto of productos">
        <app-producto> </app-producto>
    </mat-list-item>    
  </mat-nav-list>
</div> -->
      