<div fxLayoutWrap="row"  fxLayoutAlign="space-around center"  >
    <mat-card>
      <mat-card-header>
        <mat-card-title>Publicaciones</mat-card-title>
      </mat-card-header>
      <!-- <img mat-card-image src="assets/img/examples/shiba2.jpg" >    aca va una imagen acorde a la accion-->
      <mat-card-actions>
        <button mat-button>ver</button>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Usuarios</mat-card-title>
      </mat-card-header>
      <!-- <img mat-card-image src="assets/img/examples/shiba2.jpg" >    aca va una imagen acorde a la accion-->
      <mat-card-actions>
        <button mat-button>ver</button>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Pedidos</mat-card-title>
      </mat-card-header>
      <!-- <img mat-card-image src="assets/img/examples/shiba2.jpg" >    aca va una imagen acorde a la accion-->
      <mat-card-actions>
        <button mat-button>ver</button>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Mensajes</mat-card-title>
      </mat-card-header>
      <!-- <img mat-card-image src="assets/img/examples/shiba2.jpg" >    aca va una imagen acorde a la accion-->
      <mat-card-actions>
        <button mat-button>ver</button>
      </mat-card-actions>
    </mat-card>

</div>    