<mat-toolbar color ="primary">
    <a mat-button routerLink="/inicio" routerLinkActive="active">La Colorada</a>

    <span class="example-spacer"> </span>

    <!-- Iconos funciones laterales izquierdos -->
    <button mat-icon-button (click) = "goTo()" >
      <mat-icon>local_grocery_store</mat-icon>
    </button>
    <span> {{(carro && carro.items)? carro.items.length: 0}} </span>

    <!-- <mat-icon fxHide fxShow.gt-md class="icon-container" *ngIf="isLoggedIn()"> -->
    <div class="pictureUser">
      <img fxHide fxShow.gt-md *ngIf="isLoggedIn()" class="profilePic" [src]="userpicture"  height="50px" width="50px">
    </div>
      <!-- </mat-icon> -->

    <button  mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>view_headline</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <div>
        <button mat-menu-item *ngIf="!isLoggedIn()" routerLink="firebase" routerLinkActive="active">
          <mat-icon>account_circle</mat-icon>
          <span >Entrar</span>
        </button>
      </div>
        <button mat-menu-item disabled>
          <mat-icon>settings_applications</mat-icon>
          <span>Configuracion</span>
        </button>
        <button mat-menu-item *ngIf="isLoggedIn()" (click)="logout()"> <!-- TODO agregar un componente de salidad saludando -->
          <mat-icon>exit_to_app</mat-icon>
          <span>Salir</span>
        </button>
    </mat-menu>
</mat-toolbar>
