<mat-toolbar color ="primary">
    <a mat-button routerLink="/inicio" routerLinkActive="active">La Colorada</a>
    <span class="example-spacer"></span>
    <button mat-icon-button routerLink="" routerLinkActive="active">
      <mat-icon>local_grocery_store</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu"  color="primary">
        <mat-icon>view_headline</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="firebase" routerLinkActive="active">
          <mat-icon>account_circle</mat-icon>
          <span >Entrar</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>settings_applications</mat-icon>
          <span>Configuracion</span>
        </button>
        <button mat-menu-item>
          <mat-icon>exit_to_app</mat-icon>
          <span>Salir</span>
        </button>
    </mat-menu>
</mat-toolbar>
