.flotante {
    display:scroll;
        position:fixed;
        bottom:420px;
        right:100px;
}

.myicon{
    height: auto;
    width: auto;
    color: red;
}

.publicacion-card{
    height: 400px;
    width: 300px;
}

.mat-card{
    height: auto;
    width: 300px;
    margin-bottom: 20px
}

.example{
    background: lightblue;
}



.line-separator{

    height:1px;
    
    background:#717171;
    
    border-bottom:1px solid #313030;
    
    }

.editMode{
    cursor: url(../../assets/icons/ic_mode_edit_black_24dp_1x.png) 0 20, auto;
    
}