<div>
<button mat-fab class="flotante"  routerLink="/admin/nuevaPublicacion" routerLinkActive="active">
  <mat-icon class="myicon">add_circle</mat-icon>
</button>
</div>
<!-- 
<mat-grid-list cols="2" rowHeight="1:2">
    <mat-grid-tile  *ngFor="let publicacion of publicaciones">
      <mat-card >
        <mat-card-header>
            <mat-card-title>{{publicacion.titulo}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image *ngIf="publicacionTieneFotos(publicacion)" src= {{imagenPath}} height="200" >
        <mat-card-content>
          <p fxLayout="column">
            <span> {{publicacion.descripcion}} </span>
            <span> -- {{publicacion.fecha | date:'dd-MM-yyyy'}} </span>
            <span>{{publicacion.precio}}</span>
            <span>{{publicacion.cantidad}}</span>
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="cambiarImagen(publicacion)">ACTIVAR</button>
          <button mat-button >GUARDAR</button>
          <button mat-button >DESCARTAR CAMBIOS</button>
        </mat-card-actions>
      </mat-card>



    </mat-grid-tile>
    
    
  </mat-grid-list> -->

<div fxLayout.xs="column" fxLayout.lg="row" fxLayoutAlign="space-around center" fxLayoutWrap   >
  <mat-card fxFlex="30"  *ngFor="let publicacion of publicaciones">
    <mat-card-header>
      <mat-card-title>{{publicacion.titulo}}</mat-card-title>
    </mat-card-header>
    
    <mat-card-content>

      <div style="width: 100%; height: 200">
          <app-carusel *ngIf="publicacionTieneFotos(publicacion)" [imagenes]="publicacion.fotos"></app-carusel> 
          <div class="line-separator"></div>
      </div>

      <p fxLayout="column">
        <span>fecha: -- {{publicacion.fecha | date:'dd-MM-yyyy'}} </span>
        <span class="editMode" (click) = "changeDescription(publicacion)" >descripcion: {{publicacion.description}} </span>
        <span class="editMode" (click) = "changePrecio(publicacion)">precio: {{publicacion.precio}}</span>
        <span class="editMode" (click) = "changeCantidad(publicacion)">cantidad: {{publicacion.cantidad}}   {{publicacion.tipoCantidad}} </span>
      </p>
      <div fxLayout="row" fxLayoutAlign="start center">
        <!-- <button fxFlex="20" mat-button>{{ publicacion.activada ? 'Desactivar': 'Activar'}}</button> -->
        <mat-slide-toggle (change)="changeActiveState($event.checked, publicacion) "> </mat-slide-toggle>
        <span fxFlex="10" ></span>
        <p fxFlex="70">{{ publicacion.activada ? 'ACTIVADA': 'DESACTIVADA'}}</p>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-icon-button [disabled]="!isEdit(publicacion)" ><mat-icon >save</mat-icon></button>
      <!-- <mat-button-toggle mat-icon-button (change)="changeEditState($event.checked, publicacion)" ><mat-icon >mode_edit</mat-icon></mat-button-toggle> -->
      
      <button mat-icon-button ><mat-icon >delete</mat-icon></button>
    </mat-card-actions>
  </mat-card> 
</div> 
