.flotante {
    display:scroll;
        position:fixed;
        bottom:420px;
        right:100px;
}

.myicon{
    height: auto;
    width: auto;
    color: red;
}

.publicacion-card{
    height: 400px;
    width: 300px;
}

.mat-card{
    height: auto;
    width: 300px;
    margin-bottom: 20px
}

.example{
    background: lightblue;
}